html {
    background-color: #009688;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    margin: 128px;
    color: white;
}

h1 {
    font-weight: 100;
    font-size: 70px;
}

h2 {
    font-weight: 300;
}

@media (max-width: 600px) {
    body {
        margin: 32px;
    }
}

a {
    text-decoration: underline;
}

#projects, a {
    color: white;
    cursor: pointer;
}

#comments-container {
    display: none;
    margin-bottom: 128px;
}

input, textarea {
    font-size: 20px;
}

textarea {
    width: 300px;
    height: 200px;
}

#post {
    padding-top: 32px;
    padding-bottom: 32px;
}

.comment {
    margin-bottom: 32px;
}

img {
    max-width: 100%;
}
