body {
    font-family: Arial;
    font-size: 20px;
    margin: 64px;
}

#projects {
    margin: auto;
    color: blue;
}

#comments-container {
    display: none;
}

input, textarea {
    font-size: 20px;
}

textarea {
    width: 300px;
    height: 200px;
}

#post {
    padding-top: 32px;
    padding-bottom: 32px;
}