body {
    font-family: Arial;
    font-size: 20px;
    margin: 64px;
}

#projects {
    margin: auto;
    color: blue;
}

#comments-container {
    display: none;
}

input, textarea {
    font-size: 20px;
}

textarea {
    width: 500px;
    height: 300px;
}